{{#if error}}
	<div class="alert alert-danger text-center col-lg-8 mx-auto">{{error}}</div>
{{/if}}

{{#each errors}}
	<div class="alert alert-danger text-center col-lg-8 mx-auto">{{text}}</div>
{{else}}
{{/each}}	