{{#if success_msg}}
	<div class="alert alert-success col-lg-8 mx-auto text-center">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
	<div class="alert alert-danger col-lg-8 mx-auto text-center">{{error_msg}}</div>
{{/if}}