<div class="card animated bounceInLeft">
  <div class="card-header text-center">
    <h3>About this App</h3>
  </div>
  <div class="card-body text-center" style="padding-top: 130px; padding-bottom: 130px;">
    <h5 class="card-title">Secret Diary</h5>
    <p class="card-text lead">This is a Node/Express App to help you jot down ideas and scribble your thoughts in a secret diary! It uses local passort authentication along with mongoDB as a database. It also implements routing and sessions.</p>
    <a href="/" class="btn btn-dark">Go to Home Page</a>
  </div>
</div>