<div class="card animated bounceInLeft">
  <div class="card-header text-center">
    <h3>About this App</h3>
  </div>
  <div class="card-body text-center" style="padding-top: 60px; padding-bottom: 130px;">
    <div class="text-center mx-auto">
				<img src="/img/logo.png">
			</div>
      <br>
      <hr>
    <p class="card-text lead">This is a Node/Express App to help you jot down ideas and scribble your thoughts in a secret diary! It uses local passort authentication along with mongoDB as a database. It also implements routing and sessions.</p>
    <a href="/" class="btn btn-dark"><i class="fa fa-chevron-left mr-2" aria-hidden="true"></i>Go to Home Page</a>
    <br>
    <hr>
    <p class="lead">Follow me on social media</p>
    <div class="container text-center mx-auto">
      <a href="https://lk-portfolio.herokuapp.com" target="_blank"><i class="fa fa-globe fa-2x text-dark m-1" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/lakshyajit.laxmikant" target="_blank"><i class="fa fa-facebook-official fa-2x text-dark m-1" aria-hidden="true"></i></a>
      <a href="https://github.com/lakshyajit165" target="_blank"><i class="fa fa-github-square fa-2x text-dark m-1" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/lakshyajit/" target="_blank"><i class="fa fa-linkedin-square fa-2x text-dark m-1" aria-hidden="true"></i></a>
    </div>
  </div>
</div>