<div class="jumbotron text-center animated bounceInLeft" style="padding-top:150px; padding-bottom:150px">
	<h1 class="display-3">{{title}}</h1>
	<p class="lead">Feel free to scribble anything on your sercet diary!</p>
	<a href="/diary/add" class="btn btn-dark btn-lg">Add Writeup</a>
	<hr>
	<p class="lead">Designed by Lakshyajit</p>
	
</div>
