<div class="jumbotron text-center animated bounceInLeft" style="padding-top:120px; padding-bottom:120px">
	<h1 class="display-3">{{title}}</h1>
	<p class="lead">Feel free to scribble anything on your sercet diary!</p>
	<a href="/diary/add" class="btn btn-dark btn-lg">Add Writeup<i class="fa fa-plus ml-2" aria-hidden="true"></i></a>
	<hr>
	<p class="lead">Designed by Lakshyajit</p>
	<br>
	<p class="lead">Follow me on social media</p>
	<div class="container text-center mx-auto">
		<a href="https://www.facebook.com/lakshyajit.laxmikant" target="_blank"><i class="fa fa-facebook-official fa-2x text-dark m-1" aria-hidden="true"></i></a>
		<a href="https://github.com/lakshyajit165" target="_blank"><i class="fa fa-github-square fa-2x text-dark m-1" aria-hidden="true"></i></a>
		<a href="https://www.linkedin.com/in/lakshyajit/" target="_blank"><i class="fa fa-linkedin-square fa-2x text-dark m-1" aria-hidden="true"></i></a>
	</div>
</div>
