<div class="jumbotron text-center">
	<h1 class="display-3">{{title}}</h1>
	<p class="lead">Feel free to scribble anything on your sercet diary!</p>
	<a href="/ideas/add" class="btn btn-dark btn-lg">Add Writeup</a>
</div>
