

<div class="container col-lg-8 mx-auto">
<div class="card card-body">
	<h3>Create Scribble!</h3>
	<form action="/diary" method="POST">
		<div class="form-group">
			<label for="title">Title</label>
			<input type="text" class="form-control" name="title" required>
		</div>
		<div class="form-group">
			<label for="title">Content</label>
			<textarea class="form-control" name="details" required></textarea>
		</div>
		<div class="text-center">		
			<button type="submit" class="btn btn-dark">Submit</button>
		</div>
	</form>	
</div>
</div>